h2 {
    border-bottom: 3px solid red;
    text-transform: uppercase;
    font-family:fantasy;
    padding-bottom: 20px:
    width: 33%;

}

img {
    width: 30%;
    float: left;
    margin: 1.66%;
}
